# Environment
.vagrant/
.bundle/

# IDE
/nbproject/
/.buildpath
/.project
/.settings/
/.idea/
/.buildpath

# Thumbnail cache files
._*
Thumbs.db

# Folder configuration files
.DS_Store
Desktop.ini

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Other files
.~lock.*